@font-face{
	font-family:FuturaNDBook;
	src:url(23F08F_0_0.eot);
	src:url(23F08F_0_0.eot?#iefix)
		format('embedded-opentype'),url(23F08F_0_0.woff)
		format('woff'),url(23F08F_0_0.ttf)
		format('svg'),url(23F08F_0_0.svg)
		format('truetype')}@font-face{font-family:FuturaNDBook-Oblique;
	src:url(23F08F_1_0.eot);
	src:url(23F08F_1_0.eot?#iefix)
		format('embedded-opentype'),url(23F08F_1_0.woff)
		format('woff'),url(23F08F_1_0.ttf)
		format('svg'),url(23F08F_1_0.svg)
		format('truetype')}@font-face{font-family:FuturaND-Bold;
	src:url(23F08F_2_0.eot);
	src:url(23F08F_2_0.eot?#iefix)
		format('embedded-opentype'),url(23F08F_2_0.woff)
		format('woff'),url(23F08F_2_0.ttf)
		format('truetype')
}