article,aside,dialog,footer,header,section,footer,nav,figure,menu
{
	display:block;
}

.base  {
	font-family: PingHei, Microsoft Yahei Light, Microsoft Yahei, YouYuan, sans-serif;
	text-align: center;
	min-width: 950px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	position: absolute;
	vertical-align: middle;text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
}

h1, h2, h3  {
	font-weight: lighter;
}

.base.index  {
	background: url("../img/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover!important;
	background-attachment: fixed;
}

#global  {
	height: 80px;
	z-index: 999;
	min-width: 950px;
	width: 100%;
	opacity: 0.8;
	filter: Alpha(opacity=80);
	color: #ffffff;
	position: absolute;
}

#global.fixed  {
    display: block;
	position: fixed !important;
	background-color: #000000;
	top: 0;
    animation: fadeIn .5s;
    -moz-animation: fadeIn .5s;
    -o-animation: fadeIn .5s;
    -webkit-animation: fadeIn .5s;
}

.navi  {
	height: 80px;
	margin: 0 auto;
	padding: 0;
}

.mlogo  {
	cursor:pointer;
	float: left;
	padding: 0;
	height: 80px;
	margin-left: 3%;
	display: none;
}

.mlogo img  {
	position:absolute;
	margin: auto 0;
	top: 0;
	bottom: 0;
	height:50px;
	line-height:80px;
}

.mlogo .name  {
	position: absolute;
	margin-left: 70px !important;
	font-family: FuturaND-Bold;
	font-size: 25px;
	color: #ffffff !important;
	letter-spacing:1px;
	line-height: 35px;
	text-align: left;
	display: inline;
	top: 0;
}

#global.fixed .navi  {
	right: 3%;
	position: absolute;
}

#global.fixed .mlogo  {
	display: block;
}

.navi li  {
	width: 115px;
	margin: 0 auto;
	padding: 0;
	display: inline-block;
	text-align: center;
	z-index: 1000;
	line-height: 80px;
}

.navi .pop  {
	margin: 0;
	display: inline-table;
	height: 80px;
	padding: 0;
	border-radius: 8px;
	width: 115px;
}

.navi .pop:hover .pop_medium  {
	margin: 0;
	display: block;
	background-color: #000000;
}

.navi .pop:hover .pop_bottom  {
	margin: 0;
	display: block;
	background-color: #000000;
}

.navi .pop:hover .pop_top  {
	margin: 0;
	display: block;
	background-color: #000000;
}

.navi .pop_medium  {
	margin: 0;
	display: none;
	padding: 0 0;
	background-color: #000000;
	line-height: 50px;
}

.navi .pop_bottom  {
	margin: 0;
	display: none;
	padding: 0 0;
	background-color: #000000;
	line-height: 50px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.navi .pop_top  {
	margin: 0;
	min-width: 75px;
	background-color: transparent;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.navi.green li p:hover  {
	color: #86c440 !important;
}

#footer .green   {
	color: #86c440 !important;
}

.navi li p:hover  {
	color: #ED7C34;
	text-shadow: none;
}

.fixed .navi li p  {
	text-shadow: none;
}

.navi li p  {
	display: block;
	color: #ffffff;
	cursor: pointer;
	font-size: 15px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-shadow: 0px 0px 1px #ffffff;
}

#header  {
	min-height: 700px;
}

.slogan  {
	min-width: 950px;
	width: 100%;
	padding-top: 120px;
	text-align: center;
	color: #ffffff;
}


.slogan h1  {
	font-family: FuturaND-Bold, Microsoft Yahei Light, Microsoft Yahei, YouYuan, sans-serif;
	font-size: 70px;
	letter-spacing:5px;
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 0;
}

.slogan p  {
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
	line-height: 60px;
}


.slogan .arrow  {
	cursor: pointer;
	height: 60px;
    display: block;
    margin: 0 auto;
	user-select:none;
	-webkit-user-select:none;
	-o-user-select:none;
	-moz-user-select:none;
	opacity: 0.8;
	filter: Alpha(opacity=80);

	animation: fade 2s ease infinite;
	-moz-animation: fade 2s ease infinite;
	-o-animation: fade 2s ease infinite;
	-webkit-animation: fade 2s ease infinite;
}

@keyframes fade {
    0% {
        padding-top: 0;
    }
    15% {
        padding-top: 20px;
    }
    30% {
    	padding-top: 0;
    }
    45% {
        padding-top: 20px;
    }
    60% {
    	padding-top: 0;
    }
}

@-moz-keyframes fade {
    0% {
        padding-top: 0;
    }
    15% {
        padding-top: 20px;
    }
    30% {
    	padding-top: 0;
    }
    45% {
        padding-top: 20px;
    }
    60% {
    	padding-top: 0;
    }
}

@-o-keyframes fade {
    0% {
        padding-top: 0;
    }
    15% {
        padding-top: 20px;
    }
    30% {
    	padding-top: 0;
    }
    45% {
        padding-top: 20px;
    }
    60% {
    	padding-top: 0;
    }
}

@-webkit-keyframes fade {
    0% {
        padding-top: 0;
    }
    15% {
        padding-top: 20px;
    }
    30% {
    	padding-top: 0;
    }
    45% {
        padding-top: 20px;
    }
    60% {
    	padding-top: 0;
    }
}

@keyframes fadeIn {
	from {
    	top: -80px
	}
	to {
    	top: 0
	}
}

@-moz-keyframes fadeIn {
	from {
    	top: -80px
	}
	to {
    	top: 0
	}
}

@-o-keyframes fadeIn {
	from {
    	top: -80px
	}
	to {
    	top: 0
	}
}

@-webkit-keyframes fadeIn {
	from {
    	top: -80px
	}
	to {
    	top: 0
	}
}

.success  {
	margin: 0;
	padding: 0;
	text-align: center;
	min-width: 950px;
	width: 100%;
	background-color: #222222;
	z-index: 99;
	position: relative;
	margin-top: 0;
	padding-bottom: 1px;
}

.service  {
	text-align: center;
	min-width: 950px;
	width: 100%;
	position: relative;
	user-select:none;
	-webkit-user-select:none;
	-o-user-select:none;
	-moz-user-select:none;
	margin-bottom: 280px;
	margin-top: 0;
}

#page1.fixed  {
	position: fixed;
	top: 80px;
}

.back  {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	opacity: 0.2;
	filter: Alpha(opacity=20);
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

.title  {
	font-size: 40px;
	color: #ffffff;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	text-shadow: none;
}

#introd  {
	background-color: #ED7C34;
}

.wrapper  {
	margin: 0 auto;
	min-width: 900px;
	width: 80%;
	position: relative;
}

.circle  {
	border: 1px solid #DDDDDD;
	border-radius: 100%;
	height: 160px;
	width: 160px;
	margin: 0;
	margin-left: 8%;
	display: inline-block;
	text-shadow: none;
	position: relative;
}

.circle .back  {
	border-radius: 100%;
	opacity: 0;
	filter: Alpha(opacity=0);
	border: none;
	transition: all 0.6s ease-in-out 0.1s;
	-moz-transition: all 0.6s ease-in-out 0.1s;
	-webkit-transition: all 0.6s ease-in-out 0.1s;
	-o-transition: all 0.6s ease-in-out 0.1s;
}

.circle .short  {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 80px;
	color: #ffffff;
	transition: all 0.6s ease-in-out 0.1s;
	-moz-transition: all 0.6s ease-in-out 0.1s;
	-webkit-transition: all 0.6s ease-in-out 0.1s;
	-o-transition: all 0.6s ease-in-out 0.1s;
}

.short h1  {
	display: block !important;
	font-size: 30px !important;
	margin: 0 !important;
	line-height: 50px !important;
}

.short p  {
	margin: 0;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
}

.circle:hover .back  {
	opacity: 0.3;
	filter:Alpha(opacity=30);
	transition: all 0.6s ease-in-out 0.1s;
	-moz-transition: all 0.6s ease-in-out 0.1s;
	-webkit-transition: all 0.6s ease-in-out 0.1s;
	-o-transition: all 0.6s ease-in-out 0.1s;
}

.circle:hover .short  {
	opacity: 0;
	filter:Alpha(opacity=0);
	transition: all 0.6s ease-in-out 0.1s;
	-moz-transition: all 0.6s ease-in-out 0.1s;
	-webkit-transition: all 0.6s ease-in-out 0.1s;
	-o-transition: all 0.6s ease-in-out 0.1s;
}

.circle:hover .detail{
	opacity: 0.8;
	filter:Alpha(opacity=80);
	transition: all 0.6s ease-in-out 0.1s;
	-moz-transition: all 0.6s ease-in-out 0.1s;
	-webkit-transition: all 0.6s ease-in-out 0.1s;
	-o-transition: all 0.6s ease-in-out 0.1s;
}

.circle .detail  {
	height: 80px;
	text-align: center;
	opacity: 0;
	filter:Alpha(opacity=0);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
	transition: all 0.6s ease-in-out 0.1s;
	-moz-transition: all 0.6s ease-in-out 0.1s;
	-webkit-transition: all 0.6s ease-in-out 0.1s;
	-o-transition: all 0.6s ease-in-out 0.1s;
}

.circle .detail p  {
	font-size: 20px;
	line-height: 35px;
	margin: auto;
	color: #ffffff;
}

.circle .detail a  {
	font-size: 15px;
	line-height: 30px;
	margin: auto;
	padding-top: 10px;
	text-decoration: none;
	color: #eeeeee;
}

.circle .detail a:hover  {
	color: #ED7C34;
}

.circle .icon  {
	display: block;
	position: absolute;
	margin: 0 auto;
	top: 270px;
	left: 0;
	right: 0;
	width: 130px;
}

.circle:hover .icon  {
    animation: focus 1s;
    -moz-animation: focus 1s;
    -o-animation: focus 1s;
    -webkit-animation: focus 1s;
}

.item  {
	width: 180px;
	margin: 0;
	margin-left: 6%;
	display: inline-table;
	text-shadow: none;
}

.item img  {
	width: 130px;
	margin: 0 auto;
	display: block;
}

.item h1  {
	margin-top: 30px;
	font-size: 25px;
	line-height: 40px;
	color: #dddddd;
	text-align: center;
}

.item p  {
	font-size: 15px;
	line-height: 30px;
	color: #dddddd;
	text-align: center;
}

#page3  {
	min-height: 250px;
}

.logo  {
	cursor: pointer;
	width: 10.5%;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

.logo img  {
	display: block;
	margin: 0;
	width: 100%;
	border-radius: 100%;
	margin-top: 5%;
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
}

.logo:hover img  {
	margin-top: 30%;
	animation: jump 1s ease ;
	-moz-animation: jump 1s ease ;
	-o-animation: fjump 1s ease ;
	-webkit-animation: jump 1s ease ;
}

@keyframes jump {
	0% {
    	margin-top: 5%;
	}
	33% {
    	margin-top: 40%;
	}
	66% {
    	margin-top: 10%;
	}
	100% {
    	margin-top: 30%;
	}
}

@-moz-keyframes jump {
	0% {
    	margin-top: 5%;
	}
	33% {
    	margin-top: 40%;
	}
	66% {
    	margin-top: 10%;
	}
	100% {
    	margin-top: 30%;
	}
}

@-o-keyframes jump {
	0% {
    	margin-top: 5%;
	}
	33% {
    	margin-top: 40%;
	}
	66% {
    	margin-top: 10%;
	}
	100% {
    	margin-top: 30%;
	}
}

@-webkit-keyframes jump {
	0% {
    	margin-top: 5%;
	}
	33% {
    	margin-top: 40%;
	}
	66% {
    	margin-top: 10%;
	}
	100% {
    	margin-top: 30%;
	}
}

.dett  {
	min-width: 800px;
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	min-height: 400px;
}

.det  {
	opacity: 0;
	filter: Alpha(opacity=0);
	position: absolute;
	margin: 25px 0 25px 100%;
	width: 100%;
}

.det.show  {
	opacity: 1;
	filter: Alpha(opacity=100);
	margin-left: 0;
    animation: show 0.8s ease-in-out 0s;
    -moz-animation: show 0.8s ease-in-out 0s;
    -o-animation: show 0.8s ease-in-out 0s;
    -webkit-animation: show 0.8s ease-in-out 0s;
}

.det.hide  {
	opacity: 0;
	filter: Alpha(opacity=0);
    animation: hide 0.8s ease-in-out 0s;
    -moz-animation: hide 0.8s ease-in-out 0s;
    -o-animation: hide 0.8s ease-in-out 0s;
    -webkit-animation: hide 0.8s ease-in-out 0s;
}

@keyframes show {
    from {
    	margin-left: 110%;
		opacity: 0;
		filter: Alpha(opacity=0);
    }
    to {
    	margin-left: 0;
		opacity: 1;
		filter: Alpha(opacity=100);
    }
}

@-moz-keyframes show {
    from {
    	margin-left: 110%;
		opacity: 0;
		filter: Alpha(opacity=0);
    }
    to {
    	margin-left: 0;
		opacity: 1;
		filter: Alpha(opacity=100);
    }
}

@-o-keyframes show {
    from {
    	margin-left: 110%;
		opacity: 0;
		filter: Alpha(opacity=0);
    }
    to {
    	margin-left: 0;
		opacity: 1;
		filter: Alpha(opacity=100);
    }
}

@-webkit-keyframes show {
    from {
    	margin-left: 110%;
		opacity: 0;
		filter: Alpha(opacity=0);
    }
    to {
    	margin-left: 0;
		opacity: 1;
		filter: Alpha(opacity=100);
    }
}

@keyframes hide {
    from {
    	margin-left: 0;
		opacity: 1;
		filter: Alpha(opacity=100);
    }
    to {
    	margin-left: -110%;
		opacity: 0;
		filter: Alpha(opacity=0);
    }
}

@-moz-keyframes hide {
    from {
    	margin-left: 0;
		opacity: 1;
		filter: Alpha(opacity=100);
    }
    to {
    	margin-left: -110%;
		opacity: 0;
		filter: Alpha(opacity=0);
    }
}

@-o-keyframes hide {
    from {
    	margin-left: 0;
		opacity: 1;
		filter: Alpha(opacity=100);
    }
    to {
    	margin-left: -110%;
		opacity: 0;
		filter: Alpha(opacity=0);
    }
}

@-webkit-keyframes hide {
    from {
    	margin-left: 0;
		opacity: 1;
		filter: Alpha(opacity=100);
    }
    to {
    	margin-left: -110%;
		opacity: 0;
		filter: Alpha(opacity=0);
    }
}

#page3 .back  {
	background-color: #ffffff;
	border: none;
	opacity: 0.6;
	filter: Alpha(opacity=60);
}

#page3 .title  {
	padding: 140px 0 0px 0;
	color: #000000;
	position: relative;
}

.uni  {
	width: 30%;
	margin: 50px 0;
	margin-right: 5%;
	display: inline-block;
	vertical-align: middle;
}

.det .uni img  {
	width: 130px;
	border-radius: 100%;
	display: block;
	margin: 0 auto 20px auto;
}

.det .uni p  {
	font-size: 12px;
	line-height: 30px;
	margin: 0 auto;
	padding: 0;
	color: #000000;
}

.det .uni .serv  {
	font-size: 14px;
	color: #eb6e1e;
	text-shadow: 0 0 1px #eb6e1e;
}

.inf  {
	width: 60%;
	margin-left: 3%;
	font-size: 14px;
	line-height: 30px;
	color: #000000;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
}



#footer  {
	bottom: 0;
	margin: 0;
	padding: 30px 0 80px 0;
	min-width: 950px;
	width: 100%;
	font-size: 15px;
	text-align: left;
	position: relative;
}

#footer .mlogo  {
	cursor: inherit;
}

#footer .back  {
	border: none;
	opacity: 0.6;
	filter: Alpha(opacity=60);
}

#footer .mlogo  {
	float: none;
	margin: 10px auto !important;
	margin-top: 0 !important;
	width: 300px;
}

#footer .parts  {
	display: inline-table;
	min-width: 10%;
	margin: 0;
	margin-left: 4.5%;
}

#footer .row  {
	margin: 20px 0;
	margin-left: 10px;
}

#footer .parts p {
	font-size: 15px;
}

#footer a:hover  {
	text-decoration: none;
	color: #ff8e46;
}

#footer a  {
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	line-height: 30px;
	margin-left: 50px;
	position: relative;
}

#wechat:hover img  {
	display: block !important;
	position: absolute;
	height: 100px;
	margin-top: -130px;
	margin-left: auto;
}

#footer .deta  {
	color: #ffffff;
	line-height: 30px;
	margin-top: 15px;
	margin-left: 10px;
}

#footer .row p  {
	color: #ffffff;
	line-height: 30px;
	margin: 0;
	margin-left: 50px;
	padding-left: 0;
}

#footer h1  {
	font-size: 20px;
	color: #ffffff;
}

#footer .icon  {
	width: 30px;
	position: absolute;
}

#footer .regist  {
	display: block;
	margin: 0 auto;
	font-size: 15px;
	height: 80px;
	position: absolute;
	bottom: 0;
	width: 100%;
	min-width: 950px;
}

#footer .regist .back  {
	opacity: 0.5;
	filter: Alpha(opacity=50);
}

#footer .regist p  {
	width: 300px;
	margin: 0 auto;
	padding: 0;
	color: #eb6e1e;
	line-height: 80px;
	font-size: 20px;
	position: relative;
}

.black  {
	border-color: #000000 !important;
}

@keyframes focus {
    0% {
        width: 130px;
    }
    50% {
        width: 150px;
    }
    100% {
        width: 130px;
    }
}

@-moz-keyframes focus {
    0% {
        width: 130px;
    }
    50% {
        width: 150px;
    }
    100% {
        width: 130px;
    }
}

@-o-keyframes focus {
    0% {
        width: 130px;
    }
    50% {
        width: 150px;
    }
    100% {
        width: 130px;
    }
}

@-webkit-keyframes focus {
    0% {
        width: 130px;
    }
    50% {
        width: 150px;
    }
    100% {
        width: 130px;
    }
}

@keyframes shows {
    0% {
    	left: 0;
    	width: 100%;
    }
    75% {
    	left: 90%;
    	width: 10%;
    }
    100% {
    	left: 100%;
    	width: 0;
    }
}

@-moz-keyframes shows {
    0% {
    	left: 0;
    	width: 100%;
    }
    75% {
    	left: 90%;
    	width: 10%;
    }
    100% {
    	left: 100%;
    	width: 0;
    }
}

@-o-keyframes shows {
    0% {
    	left: 0;
    	width: 100%;
    }
    75% {
    	left: 90%;
    	width: 10%;
    }
    100% {
    	left: 100%;
    	width: 0;
    }
}

@-webkit-keyframes shows {
    0% {
    	left: 0;
    	width: 100%;
    }
    75% {
    	left: 90%;
    	width: 10%;
    }
    100% {
    	left: 100%;
    	width: 0;
    }
}

.tail  {
	margin: 30px auto;
	font-size: 30px;
	line-height: 50px;
	text-shadow: none;
	color: #dddddd;
}









